

html {
  font-family: 'Roboto', sans-serif;
 }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

main {
  flex: 1 0 auto;
}

#form {
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  width: 65%;
  padding: 0 30px;
  box-sizing: border-box;
}
#card{

  top: -100px;
  float: right;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 68px;
}
#divcard{
  margin-top: 80px;
  width: 100%;
}

#submitbutton{
  margin-bottom: 15px;
   margin-left: 10px;
}

#oneofus {
  color: #f57c00;
  margin-right: 5px;
}
#signupfoot{
  padding-top: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#viewfooter{
  padding-top: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
