html {
  font-family: 'Roboto', sans-serif;
 }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 100px;
  clear: both;
}

main {
  flex: 1 0 auto;
}
.page-footer{
  position: fixed;
  bottom: 0;
  width: 100%;

}

#form {
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  width: 65%;
  padding: 0 30px;
  box-sizing: border-box;
}
#card{
  float: right;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}
#divcard{
  margin-top: 80px;
  width: 100%;
}

#submitbutton{
  margin-bottom: 15px;
   margin-left: 10px;
}

#oneofus {
  color: #f57c00;
  margin-right: 5px;
}

#letsimage{
  height: 200px;
  width: 100%;
}
#letsplay{
  background-image: url(images/play.png);
  background-position: center;
  background-size: 100%;
  height: 200px;
  width: 100%;

}
